@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://tender-mccarthy-d4aa39.netlify.app/component.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.nav-bar {
  border-bottom: 1px solid var(--dark-theme-shade-80);
}

.form-field {
  background-color: var(--dark-theme-shade-80);
}

.input-form {
  width: 30%;
  margin: 5px auto;
}
