@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://tender-mccarthy-d4aa39.netlify.app/component.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.nav-bar {
  border-bottom: 1px solid var(--dark-theme-shade-80);
}

.form-field {
  background-color: var(--dark-theme-shade-80);
}

.input-form {
  width: 30%;
  margin: 5px auto;
}

.notes {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.single-note {
  box-shadow: 0px 0px 5px 2px var(--danger-color);
  max-width: 30%;
  overflow-wrap: break-word;
  border: 1px solid var(--dark-theme-shade-80);
}

.note-title {
  margin-bottom: 8px;
}

.action-container {
  position: relative;
  cursor: pointer;
  margin: 10px;
  width: fit-content;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 5px var(--dark-theme-shade-80);
}

.action-message {
  position: absolute;
  background-color: var(--primary-theme-light-color);
  color: var(--secondary-theme-color);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.action-container:hover .action-message {
  bottom: -40px;
  visibility: visible;
  opacity: 1;
}
